/* .card{
    background-color: aliceblue;
    height: auto;
    width:200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    position:relative;
    margin-top: 10%;
    left:45%;
    border-radius: 10px;
}
img{
    border-radius: 50%;
    height: 100px;
    width: auto;
    margin-top: 5px;
} */